
@{
    ViewBag.Title = "Viewing";
}

<h2>See Viewing Parties Or Create One</h2>
<style>
    body {
        background-image: url(/Content/dark4.jpg);
    }
</style>
<div>
    <iframe src="https://calendar.google.com/calendar/embed?showDate=0&amp;showPrint=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23000000&amp;src=346p7auo03prv1mg7cmvbmar7o%40group.calendar.google.com&amp;color=%23ff6542&amp;ctz=America%2FChicago" style="border-width:0" width="950" height="700" frameborder="0" scrolling="no"></iframe>
</div>
<link type=”text/css” rel=”stylesheet” href=”969ff39784188d8d017a0c60c8f2558aembedcompiled_fastui.css”>
<script type=”text/javascript” src=”969ff39784188d8d017a0c60c8f2558aembedcompiled__en_gb.js”></script>