@{
    ViewBag.Title = "Home Page";
}
<html class="home-bg">
<head>
    <style>
        p.lead{
            font-family:'Bubbleboddy Neue Trial';
            font-size: 32px;
            color:#98dc3f      
        }
        h1{
            font-size: 64px;
        }
    </style>
</head>
<body>
   
    <br /><br /><br /><br /><br /><br /><br />
    
    <h1 align="center">i love that show, too!</h1>
    <br /><br />
        <div class="home">
          
            <p class="lead" align="center">
                Find the shows that you love and <br />
                find others who share your passion.
            </p><br /><br />
            <p align="center"><a class="btn btn-primary btn-lg" href="../Home/Enter">Enter the Site &raquo;</a></p>
        </div>
    
    </body>
</html>