

<h2>What do you want to do?</h2>
<style>
    body {
        background-image: url(/Content/stripes1.jpg);
    }
</style>
<br />
<br />

<div class="row" align="center">
    <div class="col-md-6">
        <p><a href="../Shows/Index"><img alt="See what Channels exist" height="230" width="240" src="~/Content/aTV.png"></a></p>
        <p>
    </div>
    <div class="col-md-6">
        <p><a href="../Home/Calendar"><img alt="See Viewing Parties" height="230" width="240" src="~/Content/viewing2.png"></a></p>
        <p>
    </div>
    </div>
<br /><br /><br />
<div class="row" align="center">
    <div class="col-md-6">
        <p><a href="../Home/Search"><img alt="Use TMDb" height="230" width="240" src="~/Content/find1.png"></a></p>
        <p>
    </div>
 
    <div class="col-md-6">
        <p><a href="../Home/Chat"><img alt="Let's Chat'" height="230" width="240" src="~/Content/chat2.png"></a></p>
        <p>
    </div>

</div>
